@import '../../scss/vars';

.JobListBlock {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 156px);
  margin-top: 156px;
  padding: 0 20px;
  background-color: $neutral-bg;

  ul {
    width: 100%;
    max-width: 1110px;
    margin-top: 80px;
  }
}
