@import './vars';
@import './fonts';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'LeagueSpartan', sans-serif;
}

body {
  font-size: 15px;
  background-image: url('../assets/images/bg-header-desktop.svg');
  background-color: $primary-text;
  background-repeat: no-repeat;

  @media (max-width: 376px) {
    background-image: url('../assets/images/bg-header-mobile.svg');
  }
}

li {
  list-style: none;
}
