@import '../../scss/vars';

.jobItem {
  width: 100%;

  cursor: default;

  padding: 30px 40px 30px 35px;

  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 20px -10px $secondary;
  border-radius: 5px;
  margin-bottom: 25px;
  position: relative;
}

.img {
  margin-right: 25px;
}

.jobFeatured {
  border-left: 5px solid $primary-text;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin-right: 25px;
}

.descTop {
  display: flex;
  align-items: center;

  h3 {
    color: $primary-text;
    margin-right: 20px;
  }
}

.label {
  padding: 6px 7px 4px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
}

.labelNew {
  margin-right: 5px;
  background-color: $primary-text;
}

.labelFeatured {
  background-color: $secondary-neutral;
}

.descMid {
  h2 {
    cursor: pointer;

    color: $secondary-neutral;
    letter-spacing: -0.2px;

    transition: color 0.3s ease;

    &:hover {
      color: $primary-text;
    }
  }
}

.descBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: $secondary;
  min-width: 260px;
}

.divider {
  display: block;
  width: 4px;
  height: 4px;
  background-color: $secondary;
  border-radius: 50%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-left: auto;

  span {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: $neutral-bg;
    color: $primary-text;
    font-weight: 700;

    transition: color 0.2s ease, background 0.2s ease;

    &:hover {
      color: #fff;
      background-color: $primary-text;
    }
  }
}

@media (max-width: 768px) {
  .jobItem {
    flex-direction: column;
    padding: 35px 30px 20px 20px;
    margin-bottom: 40px;
  }

  .img {
    position: absolute;
    left: 20px;
  }

  .desc {
    margin-right: 0;
  }

  .descBottom {
    justify-content: left;
    gap: 10px;
    font-size: 1em;
    min-width: unset;
  }

  .filters {
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: unset;
  }
}

@media (max-width: 605px) {
  .img {
    top: -8.5%;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 426px) {
  .jobItem {
    align-items: flex-start;
  }

  .descTop {
    h3 {
      font-size: 1em;
    }
  }

  .descMid {
    h2 {
      font-size: 1em;
    }
  }

  .filters {
    justify-content: flex-start;
    border-top: 1px solid $secondary;
  }
}
