@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --border-radius: 0.7rem;
}

body {
  background-color: var(--light-grayish-blue);
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.arcticle-card {
  display: flex;
  flex-direction: column;
  max-width: 20.5rem;
  width: 100%;
  min-height: 17.5rem;
  position: relative;
  background-color: #fff;
  border-radius: var(--border-radius);
  margin: 0.5em;
  box-shadow: 0 0 15px var(--grayish-blue);
  overflow: hidden;
}

.arcticle-card__content {
  padding: 2.3rem 2rem 0.7rem 2rem;
}

.arcticle-card__img {
  background-image: url(./images/drawers.jpg);
  background-size: cover;
  background-position: left 0 top 25%;
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 12.5rem;
}

.arcticle-card__header h2 {
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.5rem;
  letter-spacing: 0.18px;
  margin-bottom: 0.9rem;
}

.arcticle-card__header p {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: var(--grayish-blue);
  line-height: 1.25rem;
  margin-bottom: 2.5em;
}

.arcticle-card__footer {
  display: flex;
  position: relative;
}

.arcticle-card__avatar {
  height: 2.5rem;
}

.arcticle-card__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.arcticle-card__user {
  margin-left: 1rem;
  color: var(--very-dark-grayish-blue);
}

.arcticle-card__user-name {
  font-size: 0.8rem;
  letter-spacing: 0.18px;
}

.arcticle-card__date {
  font-weight: 500;
  margin-top: 2px;
  color: var(--grayish-blue);
}

.arcticle-card__button {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 5;
  transform: translateY(-50%);
  transition: background 0.3s;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.arcticle-card__button:hover,
.arcticle-card__button.active {
  background-color: var(--desaturated-dark-blue);
}

.arcticle-card__button:hover svg path {
  transition: background 0.3s;
}

.arcticle-card__button:hover svg path,
.arcticle-card__button.active svg path {
  fill: #ecf2f8;
}

.arcticle-card__popup {
  display: flex;
  padding: 1.3rem 2rem 1.2rem 2rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.arcticle-card__popup.active {
  transform: translateY(0);
  opacity: 1;
}

.arcticle-card__share-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grayish-blue);
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  transition: color 0.3s;
}

.arcticle-card__share-btn:hover {
  color: var(--light-grayish-blue);
}

.arcticle-card__social {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
}

.arcticle-card__social a {
  margin: 0 0.5rem;
  cursor: pointer;
}

.arcticle-card__social a path {
  transition: fill 0.3s;
}

.arcticle-card__social a:hover path {
  fill: var(--desaturated-dark-blue);
}

@media (min-width: 45rem) {
  .arcticle-card {
    flex-direction: row;
    max-width: 45.5rem;
    height: 280px;
  }

  .arcticle-card__img {
    min-width: 17.7rem;
    flex: 7;
    height: unset;
    border-radius: 0;
    margin-right: 2.5rem;
  }

  .arcticle-card__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 10;
    padding: 2rem 2.5rem 2rem 0;
  }

  .arcticle-card__header h2 {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .arcticle-card__header p {
    margin-bottom: 1.5rem;
  }
}
