// Theme 1
$t1-main-bg: hsl(222, 26%, 31%);
$t1-toggle-bg: hsl(223, 31%, 20%);
$t1-screen-bg: hsl(224, 36%, 15%);
$t1-primary-key-bg: hsl(30, 25%, 89%);
$t1-primary-key-shadow: hsl(28, 16%, 65%);
$t1-secondary-key-bg: hsl(225, 21%, 49%);
$t1-secondary-key-shadow: hsl(224, 28%, 35%);
$t1-alert-key-bg: hsl(6, 63%, 50%);
$t1-alert-key-shadow: hsl(6, 70%, 34%);
$t1-primary-text: hsl(221, 14%, 31%);
$t1-secondary-text: hsl(0, 0%, 100%);

// Theme 2
$t2-main-bg: hsl(0, 0%, 90%);
$t2-toggle-bg: hsl(0, 5%, 81%);
$t2-screen-bg: hsl(0, 0%, 93%);
$t2-primary-key-bg: hsl(45, 7%, 89%);
$t2-primary-key-shadow: hsl(35, 11%, 61%);
$t2-secondary-key-bg: hsl(185, 42%, 37%);
$t2-secondary-key-shadow: hsl(185, 58%, 25%);
$t2-alert-key-bg: hsl(25, 98%, 40%);
$t2-alert-key-shadow: hsl(25, 99%, 27%);
$t2-primary-text: hsl(60, 10%, 19%);
$t2-secondary-text: hsl(0, 0%, 100%);

// Theme 3
$t3-main-bg: hsl(268, 75%, 9%);
$t3-toggle-bg: hsl(268, 71%, 12%);
$t3-screen-bg: hsl(268, 71%, 12%);
$t3-primary-key-bg: hsl(268, 47%, 21%);
$t3-primary-key-shadow: hsl(290, 70%, 36%);
$t3-secondary-key-bg: hsl(281, 89%, 26%);
$t3-secondary-key-shadow: hsl(285, 91%, 52%);
$t3-alert-key-bg: hsl(176, 100%, 44%);
$t3-alert-key-shadow: hsl(177, 92%, 70%);
$t3-primary-text: hsl(52, 100%, 62%);
$t3-secondary-text: hsl(198, 20%, 13%);
